* {font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;}

body {background-color: rgb(126, 40, 40);}

img {text-align:center;
    display: block;
    margin: auto;
}

.des {text-align: center;}

h1 {text-align: center;}
