* {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:wheat;


}
body {background-color: rgb(238, 50, 50);}

h1 {text-align: center;}

img {display: block;
margin:auto;
}

.des {text-align: center;}